.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App .header {
  background-color:red;
  height: 200px;
  color:white;
  text-align: center;
  line-height: 200px;
}
.container  {
  display:flex;
  height: 300px;
  
}
.container .content {
    width: 70%;
    height:300px;
    line-height: 300px;
    background-color:greenyellow;
}
.container .sidebar {
    width: 30%;
    height:300px;
    line-height: 300px;
    text-align: center;
    background-color:aquamarine;
}

.App .footer {
  background-color:blue;
  height: 200px;
  color:white;
  text-align: center;
  line-height: 200px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
